In [14]:
import pandas as pd

In [15]:
df = pd.read_csv('../dataset/Student_corrected.csv')

In [16]:
df[df['Ethnicity'] == 'African American']

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
6,1007,15,Male,African American,High School,15.601680,10,No,High,No,Yes,No,No,2.748237,C
7,1008,15,Female,African American,Higher,15.424496,22,Yes,Low,Yes,No,No,No,1.360143,F
12,1013,17,Male,African American,High School,10.038712,21,No,High,Yes,No,No,No,1.520078,F
13,1014,17,Male,African American,Some College,12.101425,21,No,Very High,No,Yes,No,No,1.751581,F
18,1019,18,Male,African American,Bachelor's,16.254658,29,No,Moderate,Yes,No,No,Yes,0.469553,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2347,3348,16,Female,African American,Some College,13.434897,4,No,High,No,No,Yes,No,2.992912,C
2360,3361,18,Male,African American,Bachelor's,12.684862,20,No,Moderate,No,No,No,No,1.347633,F
2361,3362,16,Female,African American,Some College,15.489548,7,No,NaN,No,No,No,No,2.462943,D
2372,3373,18,Male,African American,Some College,9.404982,15,No,High,No,No,No,No,1.849104,F
2390,3391,16,Female,African American,NaN,12.416653,17,No,Moderate,No,Yes,Yes,No,1.803297,F

In [17]:
# Check for inconsistencies between GPA and GradeClass
def check_grade_consistency(df):
    """
    Check if GradeClass matches the GPA according to the rules:
    A: GPA >= 3.5
    B: 3.0 <= GPA < 3.5
    C: 2.5 <= GPA < 3.0
    D: 2.0 <= GPA < 2.5
    F: GPA < 2.0
    """
    inconsistent_rows = []
    
    for idx, row in df.iterrows():
        gpa = row['GPA']
        grade = row['GradeClass']
        
        # Define expected grade based on GPA
        if gpa >= 3.5:
            expected_grade = 'A'
        elif gpa >= 3.0:
            expected_grade = 'B'
        elif gpa >= 2.5:
            expected_grade = 'C'
        elif gpa >= 2.0:
            expected_grade = 'D'
        else:
            expected_grade = 'F'
        
        # Check if actual grade matches expected grade
        if grade != expected_grade:
            inconsistent_rows.append({
                'Index': idx,
                'StudentID': row['StudentID'],
                'GPA': gpa,
                'Actual_Grade': grade,
                'Expected_Grade': expected_grade
            })
    
    return pd.DataFrame(inconsistent_rows)

# Check for inconsistencies
inconsistent_data = check_grade_consistency(df)

print(f"Total inconsistent rows found: {len(inconsistent_data)}")
print("\nInconsistent rows:")
print(inconsistent_data)

# Show some statistics
if len(inconsistent_data) > 0:
    print(f"\nPercentage of inconsistent data: {len(inconsistent_data)/len(df)*100:.2f}%")
    
    print("\nBreakdown by actual grade:")
    print(inconsistent_data['Actual_Grade'].value_counts())
    
    print("\nBreakdown by expected grade:")
    print(inconsistent_data['Expected_Grade'].value_counts())
    
    # Show first few inconsistent rows with more details
    print("\nDetailed view of first 10 inconsistent rows:")
    inconsistent_indices = inconsistent_data['Index'].head(10).tolist()
    print(df.loc[inconsistent_indices, ['StudentID', 'GPA', 'GradeClass']])
else:
    print("No inconsistencies found! All GradeClass values match their corresponding GPA ranges.")

Total inconsistent rows found: 0

Inconsistent rows:
Empty DataFrame
Columns: []
Index: []
No inconsistencies found! All GradeClass values match their corresponding GPA ranges.